* {
  box-sizing: border-box;
}
#root{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png");
  background-size: contain;
}
.poke{
  /* width: 95%; */
  margin: 10px;
  margin: auto;
  /* background-color: #85858560; */
  display: grid;
}
.poke h1{
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  background-color: #3c5aa650;
  border: #ffcb0550 1px solid;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-self: center;
  justify-content: center;
  /* background-color: #2a75bb; */
  background-color: #3c5aa6;
}

nav a{
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
  align-self: center;
  color: #ffcb05;
  padding: 1em;
}

.list-wrapper,
.type-list-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  .list-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .list-wrapper{
    grid-template-columns: 1fr;
  }
}
.list-wrapper .pokemon-item {
  display: inline-flex;
  background-color: #ffcb0570;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #2a75bb;
  border-radius: 7px;
  padding: 10px;
}
.pokemon-item p{
  text-transform: capitalize;
  font-weight: bolder;
}
.pokemon-item img{
  width: 150px;
}
.pokePicDiv{
  width: 100%;
}
.pokePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pokeTypeName{
  text-transform: capitalize;
}

.list-wrapper a {
  color:black;
  font-weight: 700;
  text-decoration: none;
  /* text-shadow: 1px 1px 1px #ffcb05; */
}

.pokemon-photo-wrapper{
  display: block;
}
.pokemon-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  /* justify-content: space-between; */
  gap: 2rem;
}

.pokemon-wrapper .items{
  margin: 1em;
  /* border: hotpink 2px solid; */
  padding: 10px;
}
.statlist,
.abilityList,
.pokeTypeName {
  margin: 5px 0;
  color: black;
  background-color: #ffcb0599;
  padding: 5px;
  text-transform: capitalize;
  border: #2a75bb 1px solid;
}
/* .abilityList{
  margin-right: 50px;
} */
.search-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.search-wrapper p{
  background-color: #2a75bb50;
  color: white;
  font-weight: 500;
}
.pagination{
  display: flex;
  width: 500px;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 20px;
}

.pagination li {
  border: 1px solid #2a75bb;
  padding: 5px;
  border-radius: 7px;
  font-size: large;
  background-color: #ffcb0570;
  cursor: pointer;
}
.pagination li:hover {
  font-weight:700;
  background-color: #ffcb05;
  border: 3px solid #2a75bb;
}
.type-list-item{
  text-transform: capitalize;
}
#grass{
  background-color: #77cc5590;
}
#poison{
  background-color: #aa559990;
}
#fire{
  background-color: #EE813090;
}
#fighting{
  background-color: #bb554490;
}
#rock{
  background-color: #bbaa6690;
}
#ghost{
  background-color: #6666bb90;
}
#flying{
  background-color: #8899ff90;
}
#ground{
  background-color: #ddbb5590;
}
#bug{
  background-color: #aabb2290;
}
#steel{
  background-color: #aaaabb90;
}
#water{
  background-color: #3399ff90;
}
#dragon{
  background-color: #7766ee90;
}
#normal{
  background-color: #A8A77A90;
}
#electric{
  background-color: #ffcc3390;
}
#psychic{
  background-color: #ff559990;
}
#dark{
  background-color: #77554490;
}
#fairy{
  background-color: #ee99ee90;
}
#shadow{
  background-color: #604e8290;
}
#ice{
  background-color: #96D9D690;
}
#unknown{
  background-color: #ff732790;
}



